* {
    margin: 0;
    padding: 0;
    color: #333;
    list-style-type: none;
    text-decoration: none;
}

header {
    height: 72px;
    background-color: bisque;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

ul {
    display: flex;
}
li {
    margin: 0px 16px;
}